body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2eeee;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bookings-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#header_droite{
    display: flex;
    gap: 30px
}