body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2eeee;
  color: #333;
}
header {
  display: flex;
  font-family: Arial, Helvetica;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
  background-color: white;
}
header a {
  text-decoration: none; /* Supprime le soulignement */
  color: black; /* Garde la couleur du texte */
  font-weight: 500; /* Légèrement plus visible */
}

header a:hover {
  color: #3ca77a; /* Change la couleur au survol (optionnel) */
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bookings-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#header_droite{
    display: flex;
    gap: 30px
}

.cart-footer {
  background-color: #0b183b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}


