body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef2f1;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cart-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  background-color: #f9f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cart-item button {
  background-color: #66bb8a;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.cart-footer {
  background-color: #0b183b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

#purchase {
  background-color: #3ca77a;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#header_droite{
    display: flex;
    gap: 30px
}
